a {
    text-decoration: none;
}


/* NAV CSS
.title {
    display: flex;
    background-color: rgb(234, 184, 193);
    justify-content: center;
    padding: 10px 0 10px 0;
    gap: 30px;
    height: 30px;
}
.title h3 {
    margin-top: 5px;
}
.menu {
    display: block;
}
#text {
    border-radius: 30px;
    width: 300px;
}
#nutTim {
    border-radius: 30px;
}
.thanhbar ul {
    display: flex;
    margin: 0;
    height: 40px;
    gap: 20px;
    list-style: none;
    justify-content: center;
    background-color: rgb(139, 16, 37);
    padding-top: 15px;
}

.thanhbar ul li a {
    text-decoration: none;
    color: aliceblue;
} */


/* FOOTER */

footer {
    background-color: rgb(139, 16, 37);
    color: antiquewhite;
}

footer a {
    color: #bbb;
}

footer li {
    list-style: decimal;
}

/* CONTACT */

.section-heading {
    color: #2c3e50;
    font-weight: bold;
}

.btn-primary {
    background: rgb(139, 16, 37);
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(135, 157, 255, 0.4);
}